<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="tw.idv.fy.utils.checkpermissions">
    <application>
        <activity
            android:name=".imp.IRequestPermissions$OpenAppSettings"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>
        <activity
            android:name=".CheckPermissionsActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>
    </application>
</manifest>
